[submodule "meta-openembedded"]
	url = git://github.com/Brainbuster/openpli-buildumgebung/meta-openembedded
[submodule "meta-openpli/recipes-openpli/e2openplugins"]
	url = git://github.com/Brainbuster/openpli-buildumgebung/meta-openpli/recipes-openpli/e2openplugins
[submodule "openembedded-core"]
	url = git://github.com/Brainbuster/openpli-buildumgebung/openembedded-core
[submodule "bitbake"]
	url = git://github.com/Brainbuster2/openpli-buildumgebung/bitbake
[submodule "metaopenpli"]
	url = git://github.com/Brainbuster2/openpli-buildumgebung/meta-openpli
