[submodule "meta-openembedded"]
	url = git://github.com/schleichdi2/openpli-buildumgebung/meta-openembedded
[submodule "meta-openpli/recipes-openpli/e2openplugins"]
	url = git://github.com/E2OpenPlugins/e2openplugins.git
[submodule "openembedded-core"]
	url = git://github.com/schleichdi2/openpli-buildumgebung/openembedded-core
[submodule "bitbake"]
	url = git://github.com/schleichdi2/openpli-buildumgebung/bitbake
